/* MIXIN BOTONES CON ESTILO*/
@mixin botonesEstilo {
    background-color: black;
    color: #ffffff;
    border-radius: 5rem;
    border-style: solid;
    border-color: #023986;
    margin-top: 1rem;
    
}

.boton{
    @include botonesEstilo;
}